<body>
   

<nav>
   <div class="nav-wrapper">
      <div class="row">
   <form id="busy">
     <div class="row">
        <div class="col s2">
       <img class="responsive-img" width="100" src="assets/img/whizlogo.png">
       </div>
       <div class="input-field col s3">
         <i class="material-icons prefix">add_location</i>
         <input id="input" type="text" name="address" class="validate">
         <label for="icon_prefix">Your Location</label>
       </div>
       <div class="input-field col s3">
         <i class="material-icons prefix">store</i>
         <input id="location" type="text" name="location" class="validate">
         <label for="icon_prefix">Name of Place</label>
       </div>
       <div class="col s1">
                   <button class="btn-floating btn-large waves-effect waves-light black" type="submit" name="submit"><i class="material-icons">search</i></button>
       </div>
       <div class="col s3">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
       </div>
    </form>    
     </div>
 
 </div>
   </div>
 </nav>
   <div id="error"></div>
   <div id="error1"></div>
 
 
   <div id="map">
   </div>
   <div id="place-1"></div><a id="button-1" data-id=""></a>
   <div id="place-2"></div><a id="button-2" data-id=""></a>
   <div id="place-3"></div><a id="button-3" data-id=""></a>
   <div id="place-4"></div><a id="button-4" data-id=""></a>
   <div id="place-5"></div><a id="button-5" data-id=""></a>
   <div id="error2">
   </div>
   <div id="list">
       {{{form}}}
   </div>
   <div id="comment">
       <p id="placeInfo"></p>
       <ul id="list">
           {{#each comments}}
           <li>
               <p>User: {{this.user}}</p>
               <p>Comment: {{this.comment}}</p>
               <p>This comment has
                   <inline class="upVote-{{this.id}}" data-upVote="{{this.upVotes}}">{{this.upVotes}}</inline> up votes and
                   <inline class="downVote-{{this.id}}" data-downVote="{{this.downVotes}}">{{this.downVotes}}</inline> down votes</p>
               <p>Busy:
                   <inline class="busy-{{this.id}}">{{this.busy}}</inline>
               </p>
               <button data-id="{{this.id}}" class="deleteComment">Delete</button>
               <button data-id="{{this.id}}" data-voted="false" class="likeComment">Up Vote</button>
               <button data-id="{{this.id}}" data-voted="false" class="dislikeComment">Down Vote</button>
           </li>
           {{/each}}
       </ul>
   </div>
 <!--
 <div class="row" id="whizzers">
   <div class="col s12">
   <h2>Developers</h2>
   </div>
     <div class="col s3">
      <p>Adrian</p>
     </div>
     <div class="col s3">
      <p>Brad</p>
     </div>
     <div class="col s3">
     <p>Jose</p>
     </div>
     <div class="col s3">
     <p>Michael</p>
     </div>
     <div class="col s3">
     <p>Nash</p>
     </div>
   </div>
        --> 
</body>